{
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "@babel/runtime",
        "useBuiltIns": false,
        "useESModules": false
      }
    ]
  ],
  "presets": [
    [
      "@babel/env", {
        "loose": true,
        "module": "commonjs",
        "include": [],
        "exclude": [],
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
